 {% extends "base.html" %}

{% block conteudo %}
{% for evento in eventos %}
<div class="col-md-6">
    <div class="row g-0 border-rounded overflow-hidden flex-md-row mb-4 shadow-in h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ evento.categoria }}</strong>
            <h3 class="mb-3" style="font-family: 'Arial', sans-serif; font-size: 24px;">{{ evento.nome }}</h3>
            <div class="mb-2 text-muted" style="font-family: 'Arial', sans-serif; font-size: 16px;">{{ evento.data|date:'d/m/Y' }}</div>
            <p class="card-text mb-auto">{{ evento.descricao}}</p>
            <a href="{% url 'evento' evento.id %}" class="stretched-link">Continuar lendo </a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" widht="150" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="placeholder:
        Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
    
            </div>
        </div>
</div>
{% endfor %}

{% endblock %}
